{
  "presets": [["es2015", { "loose": true, "modules": false }], "react"],
  "plugins": ["transform-flow-strip-types"],
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "es": {
      "plugins": [
        "./build/use-lodash-es"
      ]
    }
  }
}
